<li id="book.id">
<table>
<tr>
<th>Book-id</th>
<th>Book-name</th>
<th>Book-author</th>
<th>Price</th>
<th>Issued date</th>
<th>Actions</th>
</tr>
<% @books.each do |book| %>
<% if current_user?(book.user) %>
<tr class="userbooks">
  <td><%= book.id %></td>
  <td><%= book.book_name %></td>
  <td><%= book.author %></td>
  <td><%= book.price %></td>
  <td>
    Issued at:<%= time_ago_in_words(book.created_at) %> </td>
    <td>
      <%= link_to "delete", book, method: :delete,
                                       data: { confirm: "You sure?" } %>
     <%= link_to "edit", edit_book_path(book) %>
  </td>
  </tr>
  <%else%>
  <tr>
  <td><%= book.id %></td>
  <td><%= book.book_name %></td>
  <td><%= book.author %></td>
  <td><%= book.price %></td>
  <td>
    Issued at:<%= time_ago_in_words(book.created_at) %> </td>
  </tr>
<% end %>
  <%end%>
</table>
  </li>
